#root {
  width: 100%;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

body {
  background-color: #2e2c2c;
}
.title {
  color: white;
  margin-top: 50px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.form {
  display: flex;
  gap: 10px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.Todoinput {
  width: 18rem;
  padding: 15px;
  background: #131212d7;
  border: none;
  color: #f3f3f3;
  border-radius: 10px;
}
.AddBtn,
.ClearBtn {
  padding: 10px;
  width: 4rem;
  background-color: #131212d7;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease background-color;
}
.AddBtn:hover,
.ClearBtn:hover {
  background-color: #dddddd;
  color: black;
}

.tasklist {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.task {
  width: 50rem;
  display: flex;
  justify-content: space-between;
  background-color: #131212d7;
  padding: 15px 50px;
  color: white;
  border-radius: 40px;
}

@media (max-width: 500px) {
  .form {
    gap: 5px;
  }
  .Todoinput {
    width: 12rem;
  }

  .task {
    width: 20rem;
  }
}
